@import '../vars.css';

.layout-view-nav {
	background-color: #333030;
	box-shadow: 0 .166666667em .166666667em 0 var(--shadowColor), 0 0 .166666667em 0 rgba(0,0,0,.12);
	color: #FFF;
	padding: .75em;
}

.app-title {
	font-size: 2em;
	margin: 0;
}
