@import '../../node_modules/wingcss/dist/wing.min.css';
@import 'views/layout.css';
@import 'cards.css';

body {
	background-color: #FAFAFA;
	margin: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

section {
	margin: .75em;
}
